#btnAdd{
    padding: 20px;
    background-image: linear-gradient(120deg, #3cd068, #0dee50);
    color: #fff;
}

.checkbox, .todoApp{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content.center{
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todoApp{
    max-width: fit-content;
}

.inputs, .tasks{
    margin: 20px;
}

.task, .divBtns, .inputs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.inputs{
    max-width: 1000px;
    width: auto;
}

#input, #btnAdd, .task, .taskInput{
    border: 1px solid #3cd070;
    border-radius: 7px;
    font-weight: 600;
    font-size: 16px;
}

#input{
    padding: 16px;
    width: 650px;
    font-size: 16px;
    color: #484848;
}

#btnAdd{
    border: none;
    margin-left: 12px;
    padding: 16px;
    font-weight: 700;
    cursor: pointer;
}

#btnAdd:hover{
    background: transparent;
    color: #3cd068;
    border: 1px solid #3cd068;
    transition: all 0.4s ease;
}

#taskList{
    list-style: none;
}

.task{
    max-width: 800px;
    margin-bottom: 10px;
}

.task, .taskInput{
    padding: 5px;
    background-color: #FFF5EE;
    color: #484848;
}

.divBtns{
    max-width: 170px;
}

.taskBtn{
    margin: 12px;
    padding: 6px;
    border: none;
    border-radius: 7px;
    width: 60px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.btnEdit{
    background-color: #3de0e9;
}

.btnDel{
    background-color: rgb(250, 89, 61);
}

.checkbox{
    appearance: none;
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-color: #d5d5d5;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease;
    align-items: center;
}

.checkbox:after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    color: #fff;
}

.checkbox:hover{
    background-color: #a5a5a5;
}

.checkbox:checked{
    background-color: #3cd068;
}

.isChecked{
    opacity: 0.6;
}

.isChecked .taskInput{
    color: #808080;
    text-decoration: line-through;
    transition: all 0.5s ease;
}

.taskInput{
    border: none;
    width: 650px;
}
